#from fm.utils.Utils import quote
#set fun=$quote($fun)
#set req=$quote($req)
#set msec=$quote($msec)
<!-- templateTimeout -->
<script type="text/javascript">setTimeout('${fun}(\'${req}\')', $msec)</script>
<!-- end of templateTimeout -->
