#from fm.utils.Utils import quote
#set style=$quote($style)
#set spanid=$quote($spanid)
## The statusMsg is already sanitized in FileMoverService.py code
#set lfn=$quote($lfn)
<!-- templateLfnRow -->
<table class="fmws_table">
<tr class="$style">
<td class="td_left">
$lfn
</td>
<td align="right">
<span id="$spanid">$statusMsg</span>
</td>
</tr>
</table>
<!-- end of templateLfnRow -->
