#from fm.utils.Utils import quote
#set url=$quote($url)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head profile="http://www.w3.org/2005/11/profile">
<title>CMS File Server</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="en-us" />
<meta name="author" content="Valentin Kuznetsov (vkuznet at gmail dot com) and Brian Bockelman" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta name="ROBOTS" content="ALL" />
<meta name="Copyright" content="(CC) 2008, CMS collaboration." />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="Rating" content="General" />

<script type="text/javascript" src="${url}/js/prototype.js"></script>
<script type="text/javascript" src="${url}/js/util.js"></script>
<link rel="stylesheet" type="text/css" href="/base/Common/mastheadcss?site=phedex"/>
<link rel="stylesheet" type="text/css" href="${url}/css/fmws.css"/>

<script type="text/javascript" src="/base/YUI/yui/js/?script=yahoo.js&script=dom.js&script=event.js&script=container_core.js&script=connection.js&script=dragdrop.js&script=container.js"></script>
<script type="text/javascript" src="/base/Common/masthead"></script>

<body onload="loadMasthead();" id="content">
