#from fm.utils.Utils import quote
#set element=$quote($element)
#set tag=$quote($tag)
## The $msg here is already sanitized by other templates.
<ajax-response>
<response type="$element" id="$tag">
#if $element == "element"
$msg
#else
<div class="normal">$msg</div>
#end if
</response>
</ajax-response>
