#from fm.utils.Utils import quote
#set user=$quote($user)
#set name=$quote($name)
<!-- templateForm -->
<hr class="hline" />
Hello ${name} ($user)
<hr class="hline" />

<br />
<div id="form_files" name="form_files">

<form action="javascript:ajaxAction()" method="get">
<table class="normal">
<tr>
<td>
<span class="heading">Request file via LFN</span>
</td>
</tr>

<tr>
<td>
<input id="lfn" name="lfn" type="text" size="95" />
</td>
</tr>

<tr>
<td>
<input type="submit" value="Request" onclick="javascript:SetMethod('request')" />
<input type="reset" value="Reset" />
<input id="method" type="hidden" />
</td>
</tr>
</table>
</form>

<br />
<br />

<form action="javascript:ajaxResolveLfn()" method="get">
<div id="lfnsHolder" name="lfnsHolder"></div>
<table class="normal">
<tr>
<td colspan="3">
<span class="heading">Request file via dataset/run/event</span>
</td>
</tr>

<tr>
<td class="padright">dataset path or pattern (optional)</td>
<td class="padright">run</td>
<td>event or event range (optional)</td>
</tr>

<tr>
<td class="padright">
<input id="dataset" name="dataset" type="text" size="50" />
</td>
<td class="padright">
<input id="run" name="run" type="text" size="6" />
</td>
<td>
<input id="minEvt" name="minEvt" type="text" size="10" />
-
<input id="maxEvt" name="maxEvt" type="text" size="10" />
</td>
</tr>

<tr>
<td colspan="3">
<input type="submit" value="Request" />
<input type="reset" value="Reset" />
</td>
</tr>
</table>
</form>

</div> <!-- end of form_files -->

<hr class="hline" />
<!-- end of templiateForm -->

