#from fm.utils.Utils import quote
#set name=$quote($name)
<!-- templateForm -->
<hr class="hline" />

<div style="color:red;">
Dear ${name}, we would like to inform you that FileMover data-service is
retired in CMS.  It was based on DBS2 system which is no longer the main source
of meta-data. The support for FileMover will be very minimal and service will
be shutdown in mid spring. We ask all users to migrated as soon as possible to
xrootd method of copying LFNs from remote location. All steps are described in
this twiki:
https://twiki.cern.ch/twiki/bin/view/CMSPublic/WorkBookXrootdService
</div>
You can follow these simple steps to fetch your favorite LFN:
<pre>
source /afs/cern.ch/cms/cmsset_default.sh
source /afs/cern.ch/cms/LCG/LCG-2/UI/cms_ui_env.sh
cmsrel CMSSW_6_0_0
cd CMSSW_6_0_0
cmsenv
xrdcp root://xrootd.unl.edu/LFN /some/local/path
</pre>

<hr class="hline" />

<br />
<div id="form_files" name="form_files">

<form id="request_lfn" action="javascript:ajaxRequest()" method="get">
<table class="normal width_100">
<tr>
<td>
<span class="heading">Request file via LFN</span>
</td>
</tr>

<tr>
<td>
<input id="lfn" name="lfn" type="text" style="width:90%" />
</td>
</tr>

<tr>
<td>
<input type="submit" value="Request" />
<input type="reset" value="Reset" />
</td>
</tr>
</table>
</form>

<br />
<br />

<form id="resolve_lfn" action="javascript:ajaxResolveLfn()" method="get">
<div id="lfnsHolder" name="lfnsHolder"></div>
<table class="normal">
<tr>
<td colspan="3">
<span class="heading">Request file via dataset/run</span>
</td>
</tr>

<tr>
<td class="padright">dataset path or pattern (optional)</td>
<td class="padright">run</td>
</tr>

<tr>
<td class="padright">
<input id="dataset" name="dataset" type="text" size="100" />
</td>
<td class="padright">
<input id="run" name="run" type="text" size="6" />
</td>
</tr>

<tr>
<td colspan="3">
<input type="submit" value="Request" />
<input type="reset" value="Reset" />
</td>
</tr>
</table>
</form>

</div> <!-- end of form_files -->

<hr class="hline" />
<!-- end of templiateForm -->

